@using ProgressTracker.Domain.Entities;
@model ItemViewModel

<p>Add a new Item</p>

<form asp-action="Create" asp-controller="Items" method="post">
    <div class="form-group">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" class="form-control"/>
        <label asp-for="Description" class="form-label">Description</label>
        <input asp-for="Description" class="form-control" />
        <label asp-for="Url" class="form-label">Url</label>
        <input asp-for="Url" class="form-control" />
        <label asp-for="ProgressMarker" class="form-label">Progress Marker</label>
        <input asp-for="ProgressMarker" class="form-control" />
        <label asp-for="GoalMarker" class="form-label">Goal Marker</label>
        <input asp-for="GoalMarker" class="form-control"/>
        <label asp-for="MetricId" class="form-label">Metric</label>
        <select asp-for="MetricId"
                asp-items="@(new SelectList(@Model.Metrics, nameof(Metric.Id), nameof(Metric.Name)))">
            <option>Please select one</option>
        </select>
    </div>
    <button class="btn btn-primary">Create</button>
</form>
